body{
  background-color: rgb(238, 238, 238);

}
.iconos{
  width: 35px;
}

*{
  margin: 0px;
  padding: 0px;
  font-size: small;
}
#icons{
  margin-top: 15px;
  padding-left: 40px;
  padding-bottom: 5px;
  }
#aside{
background-color: white;
padding-bottom: 130%;
}
#home{
  color: white;
}
#home:hover{
  color: #72a7f5;
}
.bgForm{
  background-color: rgb(228, 228, 228);
}
#iconPerson{
  width: 30px;
}
li{
  border-radius: 10px;
}

#footerView{
bottom: 0;
position: fixed;
width: 100%;
height: 5%;
color: white;
}
/*      
vista de informe
*/
#informe{
  padding-right: 10px;
}
